<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Planner</title>
</head>
<body class="question">
    <h1>ISE Planner</h1>
    <form action="/result" method="post">
        <p>Please fill your information:</p>
        <label for="">Name: </label>
        <br>
        <input type="text" name="name" id="name">
        <br>
        <label for="">GPA:</label>
        <br>
        <input type="number" name="gpa" id="gpa" min="0" max="4" step="any" placeholder="out of 4" required>
        <br>
        <label for="">Part-time hours:</label>
        <br>
        <input type="number" name="partTimeHours" id="credit" min="0" value="0" required>
        <br>
        <label for="">Standing:</label>
        <select name="standing" id="standing">
            <option value="freshman">Freshman</option>
            <option value="sophomore">Sophomore</option>
            <option value="junior">Junior</option>
            <option value="senior">Senior</option>
        </select>
        <br>
        <input type="checkbox" name="summer" id="summer">
        <label for="">The next semester is a summer semester</label>
        <br>
        <label for="">Choose the courses that you are currently taking and courses you have done: </label>
        <div>
            <strong>Freshman Courses: </strong>
            <% courses.freshmanCourses.forEach((course) => { %>
                <div>
                    <input type="checkbox" name="course" value="<%= course %>" id="">
                    <label for=""><%= course %> </label>
                </div>
            <% }) %>
        </div>
        <br>
        <div>
            <strong>Sophomore Courses: </strong>
            <% courses.sophomoreCourses.forEach((course) => { %>
                <div>
                    <input type="checkbox" name="course" value="<%= course %>" id="">
                    <label for=""><%= course %> </label>
                </div>
            <% }) %>
        </div>
        <br>
        <div>
            <strong>Junior Courses: </strong>
            <% courses.juniorCourses.forEach((course) => { %>
                <div>
                    <input type="checkbox" name="course" value="<%= course %>" id="">
                    <label for=""><%= course %> </label>
                </div>
            <% }) %>
        </div>
        <br>
        <div>
            <strong>Senior Courses: </strong>
            <% courses.seniorCourses.forEach((course) => { %>
                <div>
                    <input type="checkbox" name="course" value="<%= course %>" id="">
                    <label for=""><%= course %> </label>
                </div>            <% }) %>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>